---
import { Image } from "astro:assets";
import JSIcon from "./icons/JSIcon.astro";
import Github from "./icons/Github.astro";
import NextJS from "./icons/NextJS.astro";
import ReactIcon from "./icons/React.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import TailwindCSS from "./icons/TailwindCSS.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

import { getLangFromUrl } from "@i18n/utils";
const currentLocale = getLangFromUrl(Astro.url);

const TAGS = {
  JSIcon: {
    name: "JS",
    class: "bg-black text-white",
    icon: JSIcon,
  },
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  REACTICON: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: ReactIcon,
  },
  ASTROICON: {
    name: "Astro",
    class: "bg-[#003159] text-white",
    icon: AstroIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindCSS,
  },
};
const PROJECTS = [
  {
    title: "Hotel Aura de Mallorca",
    description:
      currentLocale == "en"
        ? "(NEEDS VPS FOR BACKEND AND DB FUNCTIONALITY) Hotel website (in React and Express JS) with extra services for the complexity of implementing a weather API that tells you based on the local weather when you book if you can book or not."
        : currentLocale == "es"
          ? "(NECESITA VPS PARA FUNCIONALIDAD DE BACKEND Y DB) Sitio web de hotel (en React y Express JS) con servicios adicionales para la complejidad de implementar una API meteorol贸gica que te indica, en funci贸n del clima local, cuando haces la reserva, si puedes reservar o no."
          : "",
    link: "https://blanchedalmond-shark-422521.hostingersite.com/",
    github: "https://github.com/FeryaelJustice/HotelAuraDeMallorca",
    image: "/projects/hotelaurademallorca.webp",
    tags: [TAGS.REACTICON, TAGS.JSIcon],
  },
  {
    title: "Portfolio",
    description:
      currentLocale == "en"
        ? "Professional Portfolio of Feryael Justice, showcasing his projects, experience and best achievements."
        : currentLocale == "es"
          ? "Portafolio Profesional de Feryael Justice, mostrando sus proyectos, experiencia y mejores logros."
          : "",
    link: "https://feryaeljustice.dev/",
    github: "https://github.com/feryaeljustice/portfolio.dev",
    image: "/projects/portfolio.webp",
    tags: [TAGS.TAILWIND, TAGS.ASTROICON],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <Image
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              src={image}
              alt={`Screenshot of project ${image}`}
              width="300"
              height="200"
              loading="lazy"
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-100">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-400">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <Github class="size-6" />
                  {currentLocale == "en"
                    ? "Code"
                    : currentLocale == "es"
                      ? "C贸digo"
                      : ""}
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  {currentLocale == "en"
                    ? "Preview"
                    : currentLocale == "es"
                      ? "Previsualizaci贸n"
                      : ""}
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
